.top-bar{
    background-color: #22313f;
    color: white;
}

ul{
    list-style: none;
    margin-bottom: 0;
    padding-top: 10px;
}

ul li{
    display: inline;
    margin-right: 15px;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    color: white;
}

#title-main{
    min-height: 600px;
    background-color: #0bc759;
}

.h-strtbtstrp{
    color: white;
}

.logo{
    width: 100px;
    margin: 0 auto;
    padding-top: 15px;
}

.star{
    padding-left: 190px;
    padding-top: 0;
}

.star-logo{
    color: white;
    font-size: 18px;
}

.star-container{
    height: 125px;
    width: 400px;
    border: 1px solid blue;
    margin: 0 auto;
    display: flex;
}

ul#bottom-star li{
    display: inline;
}