.top-bar{
    background-color: #22313f;
    color: white;
}

ul{
    list-style: none;
    margin-bottom: 0;
    padding-top: 10px;
}

ul li{
    display: inline;
    margin-right: 15px;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    color: white;
}

#main-container{
    background-color: #1abc9c;
    color: white;
}

#main-container .row figure{
    height: 250px;
}

#main-container .row figure img{
    width: 100%;
    height: 100%;
    object-fit: c;
    object-position: center;
    overflow: hidden;
}

#about-container{
    min-height: 300px;
    background-color: #1abc9c;
}

#social-container{
    background-color: #2c3e50;
    color: white;
}

footer{
    background-color: #172029;
    color: white;
}